<div class="fullwidthAndHeight">
    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="gutters:false,design:'headline','class':'fullwidthAndHeight'">
        <div class="disclaimer-content" data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'center','class':'center'">
            <h1 class="legal-notice">${i18n.legalNoticeHeader}</h1>
            <p class="legal-notice">${i18n.legalNotice}</p>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom','class':''">
            <div data-dojo-type="dijit/layout/ContentPane">
                <div class="align-right">
                    <button class="ok-button"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-props="label:'Ok', type:'button'"
                            data-dojo-attach-event="onClick:_closeDisclaimer">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

