/* Styles for progress on startup function */
@import url("login.css");

.start .splashScreen .anim_bg .progress {
    background-color: #3c3c3c; /*<<--- put here ur main color.*/
}

.start {
    background: #fff !important;
}

.started {
    background-color: white;
    background-image: none;
}

/* hack for source attribution */
.started .ec_source_attribution {
    display: inline;
}

.start .ec_source_attribution {
    display: none;
}

.start .startLogo {
  background: url(edplogo.png) no-repeat;
  background-color: #fff;
  width: 70px;
  height: 70px;
  top: 5px;
  left: 5px;
  z-index: 10000000;
}

.start .startTagLine {
  text-align: center;
  font-size: 200%;
  margin-bottom: 2em;
}

.started .startLogo,
.started .splashScreen {
    display: none;
}

.start .splashScreen {
    top: 10% !important;
    right: calc(50% - 135px);
    width: 270px;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: visible;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.disclaimer {
    top: 15% !important;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    overflow: auto;
    font-size: 12px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    z-index: 9999999;
    background-color: white;
    padding: 12px;
    width: 65%;
}

@media (max-height: 1150px) {
    .info .disclaimer-content {
        height: 530px;
    }
}

@media (max-width: 800px) {
    .info .disclaimer-content {
        height: 530px;
    }
}

@media (max-width: 1400px) and (max-height: 700px) {
    .info .disclaimer-content {
        height: 490px;
    }
}

@media (max-height: 600px) {
    .info .disclaimer-content {
        height: 370px;
    }
}

@media (max-height: 350px) {
    .info .disclaimer-content {
        height: 170px;
    }
}

.disclaimer-footer {
    display: none;
}

.start .error-messages {
    display: none;
}

.start .ec-overlay {
    display: none;
}

.start .progressMsg {
    position: absolute;
    left: 5px;
    width: 0px;
    overflow: visible;
}

.splashScreen .anim_bg .progress {
    background-color: #bdc3c7;
}

.start {
    background: #fff !important;
}

.started {
    background-color: white;
    background-image: none;
}

.started .splashScreen {
    display: none !important;
}

html, body, .splashScreen {
    margin: 0;
    padding: 0;
    height: 100%;
}

.splashScreen {
    color: #2c2d2e;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 15px;
}

.splashScreen {
    font-family: sans-serif;
}

.splashScreen .splashHeader {
    font-size: 1.2em;
    margin-top: 1em;
    font-weight: 100;
    font-weight: normal;
    font-size: 1.07rem;
    min-height: 1em;
    line-height: 1.2857em;
    margin: calc(1.85715rem) 0 1rem;
}

.splashScreen .launchLog {
    transition: opacity .5s ease-in-out;
}

.splashScreen .launchLog--error {
    color: #e74c3c;
}

.splashScreen .launch__bundles {
    font-size: .8rem;
    padding-left: .8rem;
    color: rgba(94, 94, 94, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
}

.splashScreen .launch__animation {
    position: relative;
    width: 600px;
    height: 60px;
    text-align: center;
    animation-duration: 6s;
}

.splashScreen .dot-outer {
    display: inline-block;
}

.splashScreen .dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #12a5f4;
    position: absolute;
    left: 0;
    top: 0;
    animation: bring-in-small-dots 3s infinite ease-in-out;
}

.splashScreen--error .dot {
    animation-play-state: paused;
}

.splashScreen .dot-outer:first-child .dot {
    animation-name: bring-in-and-scale-first-dot;
}

.splashScreen .dot-outer:last-child .dot {
    animation-name: bring-in-and-scale-last-dot;
}

.splashScreen .dot-1 {
    animation-delay: 0;
}

.splashScreen .dot-2 {
    animation-delay: .21s;
}

.splashScreen .dot-3 {
    animation-delay: .42s;
}

.splashScreen .dot-4 {
    animation-delay: .63s;
}

.splashScreen .dot-5 {
    animation-delay: .84s;
}

.splashScreen .dot-6 {
    animation-delay: 1.05s;
}

@keyframes splashscreen-fadeout {
    from {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    to {
        display: none;
    }
}

@keyframes bring-in-small-dots {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    25% {
        opacity: 1;
    }

    35% {
        transform: translateX(285px);
    }

    65% {
        transform: translateX(285px);
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(585px);
    }
}

@keyframes bring-in-and-scale-first-dot {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    25% {
        opacity: 1;
    }

    35% {
        transform: translateX(285px) scale(1);
    }

    65% {
        transform: translateX(285px) scale(1.7);
    }

    75% {
        opacity: 1;
        transform: translateX(285px) scale(1);
    }

    to {
        opacity: 0;
        transform: translateX(585px) scale(1);
    }
}

@keyframes bring-in-and-scale-last-dot {
    from {
        opacity: 0;
        transform: translateX(0) scale(1);
    }

    25% {
        opacity: 1;
    }

    30% {
        transform: translateX(285px) scale(1);
    }

    31% {
        transform: translateX(285px) scale(1.7);
    }

    40% {
        transform: translateX(285px) scale(1.7);
    }

    65% {
        opacity: 1;
        transform: translateX(285px) scale(1);
    }

    to {
        opacity: 0;
        transform: translateX(585px);
    }
}
