@import "../themeSettings.less";
// @import "themeSettings.less";

.@{themeName} {
  @media (max-height: 250px) {
    .error-messages {
      height: 130px;
    }
  }

  /*  @media (min-height:251px) and (max-height: 500px) {
        .error-messages {
            height: 190px
        }
    }*/
  /*
    @media (min-height:501px) and (max-height: 800px) {
        .error-messages {
            height: 280px
        }
    }*/

  .error-messages {
    top: 20% !important;
    right: 25%;
    left: 25%;
    margin: 0;
    position: absolute;
    overflow: auto;
    font-size: 12px;
    background-color: white;
    padding: 12px 12px 5px;
    z-index: 999999;
    word-wrap: break-word;
    border: 3px solid @error-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);

    h3 {
      font-weight: normal;
      font-size: 1.4em;
      color: @ct-highlight-color;
      padding: 0.5em 0 0.8em;
      margin: 0;
    }

    .description {
      font-weight: bold;
    }

    .icon-sign-warning {
      float: right;
      color: red;
      font-size: 55px;
    }

    .panelfooter {
      /*  position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 6px 0 0 0;*/
      /* border-top: 1px solid lightgray; */

      text-align: right;
    }
  }

  @media (max-width: 992px) {
    .error-messages {
      left: 20%;
      right: 20%;
    }
  }
  @media (max-width: 768px) {
    .error-messages {
      left: 10%;
      right: 10%;
    }
  }
}
