/* 
    Created on : 22.04.2015, 14:36:43
    Author     : jansch
*/
@import "../themeSettings.less";

.@{themeName} {
  .ecLegend {
    .layerCheckbox {
      .size(13px);
      margin-right: 5px;
      position: relative;
      top: 2px;
      display: table-cell;
    }

    &.ctEnv_IE .layerCheckbox {
      margin-top: 1px;
    }

    .ctMapCoverTrackListHeader {
      .layerCheckbox {
        position: absolute;
        z-index: 1;
      }
    }

    .esriLegendService {
      cursor: pointer;
      border: solid 1px;
      border-color: transparent;
      padding: 0 0 2px 0;
      cursor: pointer;
    }

    .esriLegendService:hover {
      border-color: @ct-highlight-color;
      background-color: #f2f2f2;
    }

    .ec-legend-entry.esriLegendService.layerVisible label {
    }

    .ec-legend-entry label {
      font-weight: normal;
      margin-bottom: 0;
      display: table-cell;
      padding: 0 0 0 3px;
    }
  }

  .ec-legend-entry span {
    margin-top: 4px;
  }

  input.ec-legend-checkbox {
    margin-left: 4px;
    margin-right: 4px;
  }

  .ecLegend-no-image {
    width: 80px;
    height: 20px;
    background: url("images/no-legend.png") center top;
  }

  .showWebFonts2() when not (@ct-use-font-icons) {
    /*Checkboxes Icons*/
    .layerCheckbox {
      .bgHD("../images/spriteGraphics.png");
    }
    .layerCheckbox {
      background-position: -780px -286px;
    }
    .layerVisible .layerCheckbox {
      background-position: -735px -286px;
    }
  }

  .showWebFonts2() when (@ct-use-font-icons) {
    .ecLegend {
      .layerCheckbox:before {
        font-family: mapappsUiFont;
        font-size: @ct-icon-small;
        font-weight: normal;
      }
      .layerCheckbox:before {
        content: "\e003";
      }
      .layerVisible .layerCheckbox:before {
        content: "\e004";
      }
    }
  }

  .showWebFonts2();

  .legend .ecLegend {
    height: 100%;
  }
}
