/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.04.2015, 13:55:10
    Author     : jansch
*/
@import "../themeSettings.less";

.ctLanguageTogglerDropDownList {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ctLanguageTogglerDropDownList .dijitMenuItem {
  font-size: 10px;
}

.languageToggler {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 14px;
}

.languageToggler .dijitButtonNode,
.languageToggler .ctShrinkingDropDown .dijitButtonText {
  color: #396ea2;
}

.ctTpl_ec-odp-template .templateButtons .languageToggler .dijitButtonNode {
  width: 130px;
  text-align: left;
  padding: 2px 0px;
  border: @secondary-color solid 1px;
}

.ctTpl_ec-odp-template .templateButtons .ctShrinkingDropDown .dijitButtonNode {
  height: 23px;
}

.ctTpl_ec-odp-template .dijitMenuPopup .ctShrinkingDropDownMenu {
  position: relative;
  top: -1px !important;
}

@media (max-width: 600px) {
  .ctTpl_ec-odp-template .templateButtons .languageToggler .dijitButtonNode {
    width: auto;
    padding: 0px 5px 0px 0px;
  }
}
