/* 
    Created on : 04.05.2015, 16:22:02
    Author     : jansch
*/
@import "../themeSettings.less";

.@{themeName} {
  .dijitTreeRowSelected {
    color: @text-color;
  }

  .dijitTreeRowSelected.dijitTreeRowHover {
    color: @hovered-text-color;
  }
}
