<div class="fullwidthAndHeight ">
    <div data-dojo-type="dijit/layout/BorderContainer"  data-dojo-props="gutters:false,design:'headline','class':'fullwidthAndHeight'">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center','class':'center'" >
            <div class="selectorHeader">
                <div>${i18n.hint}</div>
            </div>
            <div class="selectorAll">
                <div data-dojo-attach-point="_checkAllNode" id="selectAll"></div>
                <label for="selectAll">${i18n.selectAll}</label>
            </div>
            <div class="selectorContent">
                <div>
                    <div data-dojo-attach-point="_layerListNode"></div>
                </div>
            </div>
        </div>

            <div class="selectorFooter">
                <div class="align-right">
                    <button data-dojo-type="dijit/form/Button"
                            data-dojo-props="label:'${i18n.closeButton}', type:'button'"
                            data-dojo-attach-point="_submit"
                            data-dojo-attach-event="onClick:_selectLayersClicked">
                    </button>
                </div>
            </div>

    </div>
</div>



