<div class="fullwidthAndHeight layout" id="layout">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false,design:'headline','class':'fullwidthAndHeight'">
        
        <div class="" id="header" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false,design:'sidebar',region:'top','class':'header'">
            <div class="container ec_header">
                <div class="row ec_header_row_mobile">
                    <nav class="navbar navbar-default navbar-static-top">
                        <div class="navbar-header">
                            <a class="navbar-btn pull-left " href="#">
                                <img class="logo_mobile" alt="Brand">
                            </a>
                            <span class="navbar-brand_mobile">
                                <h3>${i18n.headerTitle}</h3>
                            </span>
                        </div>
                    </nav>
                    <div class="col-md-12" style="height: 25px;">
                        <!--<select class="pull-right col-xs-12 col-md-2">
                            <option value="volvo">English</option>
                            <option value="saab">Greek</option>
                        </select>-->
                        <ul class="list-inline pull-right" id="services">
                            <!--<li><a href="#">A-Z index</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">About this site</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">What's new</a></li>-->
                            <li><a href="/${i18n.legalNoticeLink}" target="_blank">${i18n.legalNotice}</a></li>
                            <li><a href="/${i18n.cookiesLink}" target="_blank">${i18n.cookies}</a></li>
                            <li><a href="/${i18n.lang}/feedback/form" target="_blank">${i18n.contact}</a></li>
                        </ul>
                        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right','class':'templateButtons'">
                            <span class="languageToggler" data-dojo-attach-point="languageToggler"></span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <div data-dojo-type="ct/ui/template/OverlayContainer" data-dojo-props="region:'center','class':'mainMap'">
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="map"></div>
            <div class="omnisearch" data-dojo-attach-point="omniSearch"></div>
            <div class="mainMapControls">
                <div class="toc" data-dojo-attach-point="toc"></div>
                <!-- SAMPLE: Defines the attach-point for the ExtentWriters UI, note that the layout structure and style is defined in ec-odp-template.css -->
                <div class="extentWriter" data-dojo-attach-point="extentWriter"></div>
                <div class="mapLoadingInfo" data-dojo-attach-point="mapLoadingInfo"></div>
                <div id="${id}-mapdesk" class="mapDeskAnchor"></div>
                <div class="bookmarksViewer" data-dojo-attach-point="bookmarksViewer"></div>
                <div class="legalDisclaimerButton">${i18n.legalDisclaimer}</div>
            </div>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom','class':'footer'">
            <table>
                <tr>
                    <td align="left">
                        <div id="${id}-dockingBarBottomRight" data-dojo-type="windowmanager/WindowDockingBar"
                             data-dojo-props="'class':'dockingBarBottomRight',tabPosition:'horizontal'"></div>
                    </td>
                    <td align="right">
                        <span class="tutorial-button icon icon-help"></span>
                        <span class="disclaimer-button icon icon-info-2"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div data-dojo-attach-point="ec_layer_selector" class="dijitHidden"
             data-template-window="title:'${i18n.layerSelector.title}',dockable:true,dockingBar:'${id}-dockingBarBottomRight',show:true,dockTool:'ecWmsSelectorTool',marginBox:{t:77,l:0,r:0,b:30},maximizable:false,closable:true,minimizeOnClose:true,resizable:false,minSize:{w:150,h:150},dndDraggable:true,windowClass:'ctWindowEffect'"
             data-template-windowevents="onShow:'show',onHide:'hide'"></div>
        <div data-dojo-attach-point="ec_legend" class="dijitHidden" 
             data-template-window="windowClass:'mobileWindow',title:'${i18n.legend.title}',dockable:true,dockingBar:'${id}-dockingBarBottomRight',dockTool:'legendToggleTool',marginBox:{t:77,l:0,r:0,b:30},maximizable:false,closable:true,minimizeOnClose:true,resizable:false,draggable:false,fixEdgesInViewPort:{t:false}" 
             data-template-windowevents="onShow:'show',onHide:'hide'"></div>
        <div data-dojo-attach-point="ec_feature_info" class="dijitHidden"
             data-template-window="title:'${i18n.legend.title}',dockable:true,dockingBar:'${id}-dockingBarBottomRight',show:true,dockTool:'ec_feature_infoTool',marginBox:{w:0,h:0,l:5,b:38},maximizable:false,closable:true,minimizeOnClose:true,resizable:false,minSize:{w:150,h:150},dndDraggable:true,windowClass:'hiddenWindow'"
             data-template-windowevents="onShow:'show',onHide:'hide'"></div>
    </div>
</div>